<h1>Hello!</h1>
<p>Welcome to demo single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<h4>The things that you interested in:</h4>

<h5>Deliverable:</h5>
<ul>
  <li><strong>Source code of the different projects</strong>. in this iteration there is only on project</li>
  <li><strong>Database scripts</strong>. this part is <strong>omitted</strong> due of time limitation </li>
  <li><strong>Documentation</strong>. code is simple and not required additional documentations, but ClientApp folder contains basic README.md for quick start</li>
  <li><strong>Address to the repository containing the documents and solution</strong>. <a href='https://github.com/Boshchuk/TechnicalTest'>Github</a></li>
</ul>


<h5>Evaluation criteria</h5>
<p>The following points will be considered for the final evaluation:</p>
<ul>

  <li><strong>Frameworks used</strong>. See info above</li>
  <li><strong>Repository usage</strong>. Few commits was used. Semantic commits not used :(</li>
  <li><strong>Testing</strong>. There is no unit tests at project at all. </li>
  <li><strong>Usability</strong>. Let think that this demo it as POC and we want get initial user experience from it. </li>
  <li><strong>Documentation</strong>. this page and README.md in ClientApp folder inside of project (to be honest it's generated :))</li>

  <li>
    <strong>Suggested proposal:</strong>
    <ul>
      <li>Using ORM like Dapper, to work with data. Store data in DataBase.</li>
      <li>UI is very simple, minimalistic. There is no client validation, client confirmation dialogs and others users friendly things.</li>
      <li>Business logic should be covered by Unit Tests.</li>
      <li>Creation of employees and animals can be done on separate forms.</li>
      <li>Data is not validated for consistency and relationship</li>
      <li>There is no any authentication and authorization</li>
    </ul>
  </li>
</ul>


<h5>Others things from template:</h5>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>List of Employees</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
